body {
    display: flex;
}
.grid-container {
    display: grid;
    gap: 4px;
    width: 350px; 
    height: 350px;
    margin: 50px;
}

.options {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height:200px;
    justify-content: space-between;
}

.grid-item {
    border-style: solid;
}

.filledIn {
    background-color: #333;
    border-style: solid;
}
